<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Quiz</title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link 
	   media='only screen and (min-width: 530px) and (min-device-width:481px)'
	   rel='stylesheet' href='/stylesheets/wide.css' />
    <link 
	   media='only screen and (max-width: 480px)'
	   rel='stylesheet' href='/stylesheets/smartphone.css' />

	<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
  </head>
  <body>
  <div id="page-wrap">
    <header class="main" id="h1">
    <h2>Quiz <span>el juego</span></h2>
	</header>
	
	<nav class="main" id="n1" role="navigation">
	  <span><a href="/">Inicio</a></span>
	  <span><a href="/quizes/question">Preguntas</a></span>
	</nav>
	
	<section class="main" id="s1">
	<%- body %>
	</section>

	<footer class="main" id="f1">
	  <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un quiz?</a>
	</footer>
  </div>
  </body>
</html>