Añadir pregunta: <br>
<form method="post" action="/quizes/create">
    <% if(errors.length) { %>
    <span id="ErrorMsgs">
    Corregir errores:<br>
    <%for (var i in errors) { %>
        <span><%= errors[i].message %></span><br>
    <% } %>
    </span><br>
    
    <%}%>
    <% include _form.ejs %>
</form>

