
	<form method="get" action="/quizes/answer">
    <p>
		Pregunta: <%= pregunta%><br>
		<input type="text" name="respuesta" placeholder="Escriba aquí">
		<input type="submit" value="Enviar">
	</p>
	</form>
