
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p>
		Pregunta: <%= quiz.pregunta %><br>
		<input type="text" name="respuesta" placeholder="Escriba aquí">
		<input type="submit" value="Enviar">
	</p>
	</form>
